/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: David Roost
Developer David Roost
*/
* {
  box-sizing: border-box; /* allows us to tell the browser how to measure our elements.
  Now the width property includes content, padding, and border, instead of just the content*/
  }
#container {
  width: 900px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  }
body {
  font-size: 13px;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #121212;
  }
.section-01 {
  background-image:url(../images/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* This spans the background proportionally */
  height: 500px;
  }
.section-01 h1 {
  color: white;
  padding-left: 75px;
  padding-top: 75px;
  font-size: 24px;
  font-weight: 600;
  }
.section-01 h2 {
  color: white;
  text-align: center;
  padding-top: 40px;
  font-weight: 400;
  }
.section-01 button {
  display: block;
  margin: 0 auto;
  margin-top: 75px;
  font-weight: 600;
  text-align: center;
  padding: 7px 40px;
  background-color: #f9e42e;
  border: 1px solid black;
  border-radius: 2px;
  webkit-transition-duration: 0.4s; /* Hoverable Button */
  transition-duration: 0.4s; /* Hoverable Button */
  }
.section-01 button:hover { /* Hoverable Button */
  background-color: #033048;
  color: white;
  border: 1px solid white;
  }
.section-02 {
  height: 250px;
  background-color: #f0efef;
  }
.section-02 h1 {
  text-align: left;
  weight: 500;
  font-size: 20px;
  padding-left: 50px;
  padding-top: 50px;
  margin-right:200px;
  color: black;
  }
.section-02 p {
  weight: 300;
  font-size: 13px;
  padding-left: 50px;
  margin-right:200px;

  }
.section-02 ul {
  weight: 300;
  margin-right:200px;
  font-size: 13px;
  list-style-type:disc;
  /*we cleared the list style in the reset, so we're adding bullets back into the list here*/
  padding-left: 100px;
  list-style-position: inside; /*moves bullet and list inside of the padding*/
  }
.section-03 {
  background-image:url(../images/testimonial_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* This spans the background proportionally */
  height: 300px;
  display: inline-block;
  }
.section-03 blockquote {
  padding-top: 100px;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  color: #606161;
  margin-left: 250px;
  margin-right: 250px;
  }
.section-03 cite {
  weight: 500;
  font-size: 18px;
  color: white;
  }
.section-03 cite:before {
  content: "\2d \2009 \2009 \2009";
  /*these are hexidecimal text, this is how we got the dash.
  i went to http://www.swingnote.com/tools/texttohex.php to translate the space
  and the dash into hecidecimal
  the long dash would be \2014 each hex symbol is seperated by a backslash
  i formatted the quote with the styling from this website:attr();http://www.webmaster-source.com/2012/04/24/pure-css-blockquote-styling/*/
  margin-left: 20px;
  color: #606161;
  /*i added the text color white in the html to get the Amanda tet in white
  and added the color: #606161 in css to get the dash as grey.*/
  }
.section-03 blockquote:before {
  display: block;
  content: "\201C";
  /*this 201c is a hexidecimal also*/
  font-size: 80px;
  margin-left: -60px;
  margin-top: -40px;
  position: absolute;
  color: #606161;
  }
.section-04 {
  height: 80px;
  background-color: #f9e42e;
  display: inline-block;
  width: 900px;
  }
.section-04 button {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  font-weight: 600;
  text-align: center;
  padding: 7px 40px;
  background-color: #033048;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
  webkit-transition-duration: 0.4s; /* Hoverable Button */
  transition-duration: 0.4s; /* Hoverable Button */
  }
.section-04 button:hover { /* Hoverable Button */
  background-color: #f9e42e;
  color: black;
  border: 1px solid black;
  }
footer {
  height: 400px;
  }
footer h4 {
  color: #f9e42e;
  margin-top: 70px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  }
footer nav {
  text-align: center;
  }
footer img {
  height: 20px;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  }
footer p {
  text-align: center;
  font-size: 9px;
  font-weight: 400;
  }
/*

benefits background color: #f0efef
yellow: #f9e42e
dark blue: #033048
light grey: #606161
almost black: #121212

Font: Open Sans
Weight: Light, Light Italic, Semibold, Extrabold



"“Relaxr changed my life. I’ve been able to travel the world, spend limited time
working and my boss keeps thanking me for crushing work.”" - Light Italic, 18px (quote)
"- Amanda, Intuit " - semibold, 18px (citation)

"Sign Up Now!" - extra bold, 12px, 5px border radius (call to action button)

Relaxr - extra bold, 24px (smaller logo)
"Copyright 2015. Relaxr." - 9px, semibold (copyright tag)
/*
